@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
    --primary-color: #FEFBE9;
    --secondary-color: #1F2D5C;
    --accent2-color: #3E9B4F;
    --accent1-color: #56BA9F;

    --heading-font: 'manrope', serif;
    --paragraph-font: 'manrope', serif;

    --nav-background-color: #F7F9FF;
    --nav-link-color: #1F2D5C;
    --nav-hover-link-color: #D2DEFF;
    --nav-hover-background-color: #D2DEFF;
}

* {
    /* max-width: 1200px; */
    /* background-color: var(--primary-color); */
}

body {
    margin: 0;
}
main {
    /* max-width: 1200px; */
    background-color: var(--primary-color);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;

}

.hero {
    position: relative;
    max-width: 100%;
    text-align: center;

}

.hero img {
    display: block;
    width: 100%;
    height:auto;
    text-align: center;

}

.hero h1 {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: var(--primary-color);
}


p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}

.aboutus {
    position: absolute;
    top: 125px;
    /* left: 25px; */
    /* background: rgba(0, 21, 20, .5); */
    text-align: center;
    /* max-width: 940px; */
    background-color: rgba(0, 0, 0, .5);
    color: var(--primary-color);
    width: 100%;

}

#happy {
    float: right;
    height: 120px;
    width: auto;
    padding-top: 10px;
    padding-right: 5px;
}

.aboutus p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

footer nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    text-decoration: none;
    align-items: center;

}

header nav {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 16px;
    background-color: var(--primary-color)
}

section h2 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
}
figcaption {
    color: var(--secondary-color);
}

/* .logo {
    display:flex;
    justify-content: center;
    align-items: center;
} */
header img {
    height: 100px;

}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap:1.2rem; */
    /* max-width: 1200px; */
    text-align: center;
    /* justify-content: center; */
}

.adventure img {
    width: 225px;
    height: auto;
}

section {
    /* background-color: grey; */
    /* width: 1200px; */
}

/* .form { */
    form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid var(--accent2-color);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    display: grid;
}
fieldset {
    border: 2px solid var(--accent2-color);
    color: var(--secondary-color);
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.employee img {
    width: 225px;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.information {
    display: flex;
    /* max-width: 600px; */
    text-align: center;
    flex-direction: column;
}
figcaption {
    color: var(--secondary-color);
}

.wireframe {
    display: flex;

}

.reservations img {
    max-height: 250px;
    max-width: 100%;
}

.reservations {
    /* .image1 .image2 { */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;

}

.book {
    display: flex;
    /* grid-template-rows: 2fr 1fr; */
    flex-direction: column;
    align-items: center;
}

table,
td {
    border: 1px solid var(--accent2-color);
    border-collapse: collapse;
    background-color: var(--primary-color);
    padding: 2rem;
    color: var(--secondary-color);
}
.information table img {
    max-width: 300px;
}

/* .information {
    max-width: 1260px;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.skill img {
    max-width: 325px;
}
.testimonials {
    border: 1px solid var(--accent2-color);
    border-radius: 5px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px
}
.heather {
    /* border: 1px solid var(--accent2-color); */
    text-align: center;
}
.brandon {
    border-left: 1px solid var(--accent2-color);
    padding-left: 16px;
    text-align: center;
}
.greg {
    border-top: 1px solid var(--accent2-color);
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
h3, h4 {
    color: var(--secondary-color);
}



/* @media (max-width:920px) {
    .reservations {
        flex-direction: column;
    } */


/* .reservations button {
    display: flex;
    width:fit-content;
    

} */

.home-section1 {
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}
.home-section1 nav{
    font-size: 35px;
    text-align: center;
}
.homeheader {
    text-align: center;
    position:relative;

}
.homeheader h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    color: var(--primary-color);
    margin: 0;
    top:50%;
    transform: translateY(-50%);
    font-size: 2rem;


}
.homeheader img {
    display: block;
    width: 100%;
    height:auto;

}

.home-form {
    border: 3px solid var(--accent2-color)
}
.homeimages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 1.0rem; */
    text-align: center;
}
.home-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.homeimages img {
    max-width: 250px;
    padding-left: 60px;
}
.home-form button {
    font-size: 15px;
 
}
.button:hover {
    background-color: #D2DEFF;
}
.nav:hover {
    background-color: #D2DEFF;
    color:#D2DEFF;
}
.homeimages figcaption {
    padding-left: 60px;
}
.cta {
  background-color: buttonface;
  color: buttontext;
  display: inline-block;
  padding-block: 1px;
  padding: 8px;
  border-width: 1px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  box-sizing: border-box;
  appearance: auto;
  text-align: center;
  width: fit-content;
  border-radius: .5rem;
  font-size: 1.5rem;

}