@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root {
    --primary-color: #FBFFFE;
    --secondary-color: #001514;
    --accent2-color: #6B0504;
    --accent1-color: #E6AF2E;

    --heading-font: 'manrope', serif;
    --paragraph-font: 'manrope', serif;

    --nav-background-color:#A3320B ;
    --nav-link-color: #009ddc;
    --nav-hover-link-color: green;
    --nav-hover-background-color: pink;
}
* {
    max-width: 1200px;
}
main {
    width: 1200px;
    background-color: grey;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position:absolute;
    top: 0px;
    left: 400px;

}

.hero{
    position: relative;
    width:1200px;
    max-width: 100%;
   
}
.hero img {
    width:1200px;

}
p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}
article {
    position:absolute;
    top: 80px;
    left: 0px;
    background: rgba(0, 21, 20, .5);
    text-align: center;

}
#happy{
    float:right;
    height: 120px;
    width: auto;
}
article p {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    text-decoration: none;
   
}
header nav {
    display:flex;
    text-decoration: none;
    grid-column: 2;
    justify-content: space-evenly;
    align-items: center;
}
header {
    display:grid;
    gap:1.5rem;
    grid-template-columns: 1fr 2fr;
    background-color: grey;
    width:1200px;
}

section h2 {
    text-align: center;
}

footer {
    background-color: grey;
    width: 1200px;
    text-align: center;
}


.Logo {
    display:flex;
    justify-content: center;
    align-items: center;
}
header img {
    max-width: 50%;
}

.history {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1.2rem;
    max-width: 1200px;
}
.adventure img {
    width: 150px;
    height: auto;
}
section {
    background-color: grey;
    width: 1200px;
}
