* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

header {
  text-align: center;
  font-size: 12px;
  color: darkblue;
  width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: lightgrey;
  display:grid;
}

fieldset {
  display:grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

label, input, button, select, textarea {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 7px;
}
label {
  text-align: left;
  padding-right: 1.2rem;
}
input select textarea {
  padding: 1.2rem;
  font-size: 11px;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
button {
  margin: 1.2rem;
  background-color: darkblue;
  color: white;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1.3rem;
  text-align: center;
}
button:hover {
  background-color: darkslateblue;
}
footer {
  margin: 1rem auto 0;
  width: 600px;
  text-align: center;
  font-size: 15px;
  color: darkblue;
  border-top: 1px solid black;